numpy==1.21.2
pandas==2.0.3
pillow==10.4.0
scipy==1.10.1
tensorboard==2.6.0
torch @ http://download.pytorch.org/whl/cu111/torch-1.8.1%2Bcu111-cp38-cp38-linux_x86_64.whl
torchvision @ http://download.pytorch.org/whl/cu111/torchvision-0.9.1%2Bcu111-cp38-cp38-linux_x86_64.whl
tqdm
ftfy
regex